version: '3.8'

services:
  auth-service:
    build: .
    container_name: auth-service
    restart: unless-stopped
    ports:
      - "5000:5000"
    env_file:
      - .env
    networks:
      - auth-network

networks:
  auth-network:
    driver: bridge
